
    <h3>@Html.ActionLink("Settings", "Index", "Settings")</h3>
    <ul>
        <li>@Html.ActionLink("Popup design", "Design", "Settings")</li>
        <li>@Html.ActionLink("Custom messages", "CustomMessages", "Settings")</li>
        <li>@Html.ActionLink("Custom email", "CustomEmail", "Settings")</li>
        <li>@Html.ActionLink("Reward options", "RewardOptions", "Settings")</li>
        <li>@Html.ActionLink("Advanced", "Advanced", "Settings")</li>
    </ul>